.align-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.bottom-center {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; /* Espacio entre los botones */
}

.colored-button1 {
  color: white; /* Color del texto */
  background-color: #b14133; /* Color de fondo */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
}

.colored-button {
  color: white; /* Color del texto */
  background-color: #62bd56; /* Color de fondo */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
}

.card-center {
    margin: 20% auto;
    max-width: 300px;
    height: 600px;
    text-align: center;
  }
  
  ion-title {
    font-size: 18px;
  }
  
  ion-icon {
    font-size: 24px;
    cursor: pointer;
  }

  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgb(123, 0, 224);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgba(240, 38, 82, 0.342);
    --color: rgb(114, 2, 2);
  }

  ion-card-content img {
    width: 175px; /* Ajusta este valor según sea necesario */
    height: 250px; 
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  }

  ion-card-title {
    font-size: 30px; /* Ajusta este valor según sea necesario */
    font-weight: bold; /* Opcional: para hacer el texto más grueso */
    color: blue; 
  }
  #btnstar{
    margin-top: 45vh;
    margin-left: 26vw;
    width: 50vw;
  }
  