.align-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.bottom-center {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; /* Espacio entre los botones */
}

.colored-button1 {
  color: white; /* Color del texto */
  background-color: #b14133; /* Color de fondo */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
}

.colored-button {
  color: white; /* Color del texto */
  background-color: #62bd56; /* Color de fondo */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
}

.card-center {
    margin: 40% auto;
    max-width: 300px;
    height: 400px;
    text-align: center;
  }
  
  ion-title {
    font-size: 18px;
  }
  
  ion-icon {
    font-size: 24px;
    cursor: pointer;
  }

  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(211, 35, 73);
    --color: white;
  }
  