<ion-content>

    <ion-buttons class="align-right">
      <ion-button id="open-modal" fill="clear">
        <ion-icon name="chatbox-outline" style="font-size: 30px;"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="close-circle-outline" style="font-size: 30px;"></ion-icon>
      </ion-button>

      <ion-modal  #modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>Chats</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
            
          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-buttons>

    <!-- <ion-card *ngIf="cartaSeleccionada" class="card-center">
      <ion-card-header>
        <ion-card-title>
          A Jugar!
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="{{cartaSeleccionada.url}}" alt="">
        <p>{{penitencia}}</p>
        Aquí puedes insertar la penitencia o contenido de la carta
      </ion-card-content>
    </ion-card> -->

    <ion-card class="card-center">
      <ion-card-header>
        <ion-card-title>
          A Jugar!
        </ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <img src="{{cartaSeleccionada.url}}">
        <br>
        <p>{{penitencia.descripcion}} </p>
      </ion-card-content>
    </ion-card>


    <ion-buttons class="bottom-center">
      <ion-button class="colored-button1" expand="block" fill="clear" shape="round">
        Omitir
      </ion-button>
      <ion-button class="colored-button" expand="block" fill="clear" shape="round">
        Cumplir
      </ion-button>
    </ion-buttons>

</ion-content>
