<ion-header>
  <ion-toolbar>
    <ion-title>Enviar Comentario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="enviarComentario()" [formGroup]="feedbackForm">

    <!-- Campo para el comentario -->
    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-textarea formControlName="comentario" placeholder=" El comentario debe tener al menos 10 caracteres."></ion-textarea>
    </ion-item>
    <ion-note *ngIf="feedbackForm.get('comentario').invalid && feedbackForm.get('comentario').touched" color="danger">
      El comentario debe tener al menos 10 caracteres.
    </ion-note>

    <!-- Botón de envío -->
    <ion-button expand="block" type="submit" [disabled]="!feedbackForm.valid">Enviar Comentario</ion-button>
  </form>
</ion-content>
