<ion-content class="yo" [fullscreen]="true">
  <div class="boton-confi">
    <ion-button fill="clear" shape="round" routerLink="/config">
      <ion-icon name="settings-outline" style="font-size: 40px;"></ion-icon>
    </ion-button>
  </div>

  <div class="avatar" *ngIf="avatars">
    <ion-avatar aria-hidden="true">
      <img alt="" src="{{avatars.url}}" />
      <h1>{{apodo}}</h1>
    </ion-avatar>
  </div>

  <div class="botones-inferiores">
    <ion-button routerLink="/unirse" style="--border-radius: 45%; width: 80px; height: 50px;">
      Unirse
    </ion-button>
    <ion-button routerLink="/crear" style="--border-radius: 45%; width: 80px; height: 50px;">
      Crear
    </ion-button>
  </div>

</ion-content>