<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>finally</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Drink Masters</h1>
  <h3>Creador de la partida</h3>

  <h2>Resultados</h2>
  <table *ngIf="jugadores">
    <thead>
      <tr>
        <th>Jugador</th>
        <th>Puntaje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{jugadores.apodo}}</td>
        <td>{{jugadores.score}}</td>
      </tr>
    </tbody>
  </table>

  <button routerLink="/tabs-inicio/home">Cerrar</button>
</ion-content>
